body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chat {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.messages-list {
  height: 78vh;
  overflow: scroll;
  margin: 1rem auto;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
}

.header-title {
  margin: 1px;
  text-align: center;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  
}

.header-last-message-date {
  margin-right: auto;
}

.header-container {
  display: flex;
  margin-bottom: 1rem;
  margin: auto;
}

.header-container span {
  color: rgb(200, 207, 207);
  text-transform: uppercase;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.header-container h3 {
  margin: 0 0.5rem;
  font-size: 1.2rem;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.message {
  font-size: 1rem;
  margin: 0.92rem;
  padding: 0.41rem 2rem;
  max-width: 50%;
  align-items: right;
  min-height: 5rem;
  max-height: 12rem;
  color:rgb(200, 207, 207);
}

.own-message {
  margin: 0.92rem 0 0 50%;

  color:rgb(200, 207, 207);
}

.own-message button {
  outline: none;
  border: none;
  cursor: pointer;
  height: 1.5rem;
  width: 4rem;
}

.own-message button:hover,
.message-input-button:hover,
.editing button:hover {
  opacity: 0.76;
  transition: 0.1s ease-in-out all;
  color: darkcyan;
}

.message-delete {
  margin: 0.2rem 0 0 0.5rem;
  background-color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  color: white;
}

.message-editor {
  background-color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  color: white;
}

.message p {
  margin: 0.2rem 0;
}

.message img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.message svg {
  height: 1.8rem;
  width: 1.8rem;
  color: white;
}

.message-user-name {
  font-weight: 700;
  color: darkcyan;
}

.messages-date {
  font-size: 0.75rem;
  margin: 0.2rem 1rem;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  color: white;
}
.own-messages-date {
  font-size: 0.75rem;
  margin: 0.92rem 0 0 50%;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  color: white;
}

.message-like {
  font-weight: 100;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}

.like-active {
  font-weight: 900;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

.message-input {
  margin-top: 1rem;
}

.message-input-text {
  width: 40rem;
  height: 2rem;
  outline: none;
  border: none;
  margin-left: 1rem;
  margin-right: 0.5rem;
  padding-left: 1rem;
}

.message-input-button {
  height: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  width: 5rem;
}

.editing {
  margin-left: 1rem;
  background-color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  color: white;
}
.editing button {
  margin: 0 0.2rem;
  height: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  width: 5rem;
}
.editing input {
  margin-right: 0.2rem;
  width: 40rem;
  height: 2rem;
  outline: none;
  border: none;
  padding-left: 1rem;
}

.preloader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.preloader div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #cef;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.preloader div:after,
.preloader div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #cef;
}
.preloader div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.preloader div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
